@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

/** normaliz CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /*! font size => 10px = 1rem */
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
  font-family: "Inter";
}
button {
  cursor: pointer;
}
/** Main content */
body {
  min-height: 100vh;
  min-width: 37.5rem;
  font-size: 1.6rem;
  background-color: #ffffff;
  display: grid;
  grid-template: 1fr / repeat(12, 1fr);
  font-family: "Inter";
}
.left {
  grid-row: 1/2;
  grid-column: 1/3;
  min-width: 27rem;
}
.middle {
  grid-row: 1/2;
  grid-column: 3/10;
}
.right {
  grid-row: 1/2;
  grid-column: 10/13;
}
/** Left  */
.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem 0;
}
.logo-img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 1.6rem;
}
.logo-text {
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #5e81f4;
  font-weight: 700;
}
.btn-left {
  width: 100%;
  background-color: #5e81f4;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.5rem 0;
  margin-top: 4rem;
}
.nav {
  margin: 2rem 0 3rem 7rem;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  border-right: 3px solid transparent;
  padding: 0.5rem 0;
  display: block;
  cursor: pointer;
}

.menu li a {
  margin-left: 4.5rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #8da1b5;
  font-weight: 500;
  transition: 0.4s ease;
}
.menu li img {
  color: #8da1b5;
  transition: 0.4s ease;
}
.menu li:hover {
  border-right: 3px solid #5e81f4;
}
.menu li:hover a {
  color: #272829;
}
.footer-left {
  margin: 0 4rem;
  background-color: #f5f5fb;
  border-radius: 1.2rem;
  padding: 2.4rem;
  position: relative;
}
.footer-left > img {
  width: 8.5rem;
  height: 9.9rem;
  position: absolute;
  top: -4rem;
  left: 30%;
}
.footer-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #778dad;
  margin-top: 5rem;
  text-align: justify;
}

.middle {
  background-color: #f5f5fb;
  padding: 4.8rem;
}
.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box {
  position: relative;
}
#search {
  width: 47rem;
  height: 5.6rem;
  padding: 1.6rem 2rem 1.6rem 5.6rem;
  color: #ccd6e8;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  border-radius: 1rem;
  background-color: #fff;
}
.fa-search {
  position: absolute;
  left: 2.3rem;
  top: 2rem;
}
.fa-bell {
  font-size: 2.5rem;
}

.nav-content {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content h2 {
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: #011f3b;
}
.nav-middle {
  display: flex;
  align-items: center;
}
.all-courses-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.all-courses-menu li {
  margin-left: 5rem;
}
.all-courses-menu li a {
  color: rgba(118, 132, 146, 0.8);
  font-size: 1.7rem;
  line-height: 2rem;
  display: inline-block;
  transition: all 0.4s ease;
  position: relative;
}
.all-courses-menu li a::before {
  transition: all 0.4s ease;
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 0.2rem;
  background-color: #5e81f4;
  bottom: -0.7rem;
  border-radius: 1px;
  right: calc(50% - 0.9rem);
  visibility: hidden;
  opacity: 0;
}
.all-courses-menu li:hover a {
  color: #5e81f4;
}
.all-courses-menu li:hover a::before {
  visibility: visible;
  opacity: 1;
}

.content-box {
  display: grid;
  width: 100%;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 4rem;
}
.grid-item {
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 3.8rem 3.2rem;
}
.content-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(./../images/image\ 20.jpg);
  height: 36rem;
}
.content-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(./../images/Mask\ Group.jpg);
  height: 31rem;
}
.content-3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url(./../images/Mask.jpg);
  height: 31rem;
}
.content-meta,
.content-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-title {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #fff;
  font-weight: 500;
}
.content-number-course {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}
.content-time-course {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}
.content-detail i {
  width: 4.6rem;
  height: 4.6rem;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.content-detail img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
